<!-- index.html -->

<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Random Star Wars Facts</title>

  <!-- CSS -->
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="test.css">
</head>
<body id="main">
  <div class="container col-md-offset-4 col-md-4">
    <h1>Random Star Wars Facts</h1>
    <div class="btn-group buttons" data-toggle="button" v-radio="value">
      <label class="btn btn-primary">
        <input type="radio" name="options" autocomplete="off" value="films" v-on:click="getFacts('films')" checked> Films
      </label>
      <label class="btn btn-primary">
        <input type="radio" name="options" autocomplete="off" value="people" v-on:click="getFacts('people')"> People
      </label>
      <label class="btn btn-primary">
        <input type="radio" name="options" autocomplete="off" value="planets" v-on:click="getFacts('planets')"> Planets
      </label>
      <label class="btn btn-primary">
        <input type="radio" name="options" autocomplete="off" value="vehicles" v-on:click="getFacts('vehicles')"> Vehicles
      </label>
      <label class="btn btn-primary">
        <input type="radio" name="options" autocomplete="off" value="species" v-on:click="getFacts('species')"> Species
      </label>
      <label class="btn btn-primary">
        <input type="radio" name="options" autocomplete="off" value="random" v-on:click="getFacts('random')"> Random
      </label>
    </div>

    <div class="list-group">
        <ul id="list-1">
          <li v-for="(fieldname, value) in fact">
            <h3 class="list-group-item-heading h3list" v-if="value">{{ fieldname }}</h3>
            <h4 class="list-group-item-text h4list">{{ value }}</h4>
          </li>
        </ul>
    </div>
  </div>

  <!-- JS -->
  <script src="node_modules/vue/dist/vue.js"></script>
  <script src="node_modules/vue-resource/dist/vue-resource.js"></script>
  <script src="node_modules/jquery/dist/jquery.min.js"></script>
  <script src="app.js"></script>
</body>
</html>
